* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
}
.contenedor {
  background: white;
  margin: auto;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

ul {
  list-style: none;
}
ul li {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.link__nav {
  text-decoration: none;
  color: white;
}
.link__nav:hover {
  color: #ffffff;
}
#main_header {
  background-color: rgb(145, 58, 111, 255);
  border-radius: 10px;
}

#hero {
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 148, 172);
}
.sobre_nosotros {
  background-color: rgb(188, 148, 172);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sub_sobreNosotros {
  padding-bottom: 10px;
}
.p_sobreNosotros {
  padding-bottom: 10px;
  padding-left: 10px;
}
.img_sobreNosotros {
  padding-bottom: 10px;
}
.productos {
  background-color: rgb(188, 148, 172);
  padding-top: 25px;
  
}
.sub_prod {
    display: flex;
  padding-bottom: 25px;
  justify-content: center;
}
.fila {
  display: flex;
  justify-content: center;
}
.colum {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer {
  background-color: rgb(145, 58, 111, 255);
  display: flex;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 20px;
}
.footer_contact {
  padding-left: 20px;
}
.footer_social {
  padding-left: 20px;
}

.ver_mas{
    text-decoration: none;
    color: white;
    border: solid #ffffff;
    border-radius: 10px;
    width: 65px;
    
}